<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Insert data from form to mysql database php</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-2">
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h2>Обновить книгу в библиотеке</h2>
            </div>
            <form class="form-group" action="#" th:action="@{/addbook}" th:object="${bookDto}" method="post">
                <label for="id">Номер книги</label>
                <input readonly type="text" th:field="*{id}" id="id" class="form-control" required="">

                <label for="title">Название книги</label>
                <input type="text" th:field="*{title}" id="title" class="form-control" required="">

                <label for="authors">Автор</label>
                <input type="text" th:field="*{authors}" id="authors" class="form-control" required="">

                <label for="genre">Жанр</label>
                <input type="text" th:field="*{genre}" id="genre" class="form-control" required="">

                <br>
                <input type="submit" class="btn btn-primary" name="submit" value="Save Book">
                <a th:href="@{/}"  class="btn btn-secondary">Отменить</a>
            </form>
        </div>
    </div>
</div>
</body>
</html>